# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Node modules
/node_modules

# Transpiled TypeScript
/build

# Logs
logs
*.log
npm-debug.log*

# Env/Config vars
.env